#
# git ignore file masks for the TrafficLight project
#
*.o
*.d
*.map
*.bin
*.mk
makefile
/GTK+/
/WinCon/
/arm-cm/
/WinGui/
/Posix/
/WinGui_Spy/
/GTK+_Spy/
/arm-cm_Spy/
*.ce
*.he
*/dbg/
*/spy/
/Posix_Spy/
